<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Grid container -->
  <div class="bg-deep-navy">
    <div class="container p-4 text-white">
      <!--Grid row-->
      <div class="row g-5 d-flex justify-content-between align-items-center">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">LOCATION</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <span class="text-white">2215 John Daniel Drive</span>
            </li>
            <li>
              <span class="text-white">Clark, MO 65243</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">AROUND THE WEB</h5>

          <ul
            class="list-unstyled d-flex justify-content-start mt-3 align-items-center gap-2"
          >
            <li>
              <a href="#!" class="text-white"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li class="">
              <a href="#!" class="text-white"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#!" class="text-white"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="#!" class="text-white"
                ><i class="fa-brands fa-google"></i
              ></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">ABOUT FREELANCER</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-white">
                Freelance is a free to use, licensed Bootstrap theme created by
                Route
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </div>
  </div>

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center bg-dark-navy p-3 text-white">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
